Repository MicrosoftDocs/azure-reference-other, pull requests merged in 2020-08, with the labels that each got.

#124 Update timestamp-by-azure-stream-analytics.md
  stream-analytics-docs/timestamp-by-azure-stream-analytics.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, stream-analytics/svc

#125 Fix typo
  azure-monitor-ref/tables/securityincident.md
Labels: Change sent to author, azure-monitor/svc, do-not-merge, logs/subsvc

#126 Update extract-n-gram-features-from-text.md
  studio-module-reference/extract-n-gram-features-from-text.md
Labels: Change sent to author, machine-learning/svc, ready-to-merge, studio/subsvc
